{% extends 'base.html.twig' %}

{% block title %}Equipement index{% endblock %}
{% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/styletable.css') }}">
{% endblock %}
{% block body %}
    <div id="containertop">
        <div id="button-container">
            <a href="{{ path('app_equipement_new') }}"><button id="createnew">Create new<ion-icon id="icon_add" name="add-circle-outline"></ion-icon></button></a>
        </div>
    </div>
    <div id="tablee">
        <table id="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nom</th>
                    <th>Prix</th>
                    <th>Quantite_disponible</th>
                    <th>Image</th>
                    <th>Categorie</th>
                    <th>actions</th>
                </tr>
            </thead>
            <tbody id="resultatTableBody">
            {% for equipement in equipements %}
                <tr>
                    <td>{{ equipement.id }}</td>
                    <td>{{ equipement.nom }}</td>
                    <td>{{ equipement.prix }}</td>
                    <td>{{ equipement.quantiteDisponible }}</td>
                    <td>{{ equipement.image }}</td>
                    <td>{{ equipement.categorie }}</td>
                    <td>
                        <div id="flex">
                            <a href="{{ path('app_equipement_show', {'id': equipement.id}) }}"><button id="show-button" class="quiz-button">Afficher</button></a>
                            <a href="{{ path('app_equipement_edit', {'id': equipement.id}) }}"><button id="edit-button" class="quiz-button">Modifier</button></a>
                            <form method="post" action="{{ path('app_equipement_delete', {'id': equipement.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
                                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ equipement.id) }}">
                                <button id="delete-button" class="quiz-button">Supprimer</button>
                            </form>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
