{% extends 'baseBack.html.twig' %}

{% block title %}Modifier Activité{% endblock %}

{% block content %}
<div class="container">
    <div class="card shadow-lg p-4 rounded-4">
        <h1 class="mb-4 text-center">🖊 Modifier l'Activité</h1>

        {{ form_start(form) }}
            <div class="mb-3">
                {{ form_label(form.action) }}
                {{ form_widget(form.action) }}
            </div>

            <div class="mb-3">
                {{ form_label(form.date) }}
                {{ form_widget(form.date) }}
            </div>

       

            <button type="submit" class="btn btn-success">
                <i class="fas fa-save"></i> Enregistrer
            </button>
        {{ form_end(form) }}

        <a href="{{ path('admin_activities') }}" class="btn btn-secondary mt-3">
            <i class="fas fa-arrow-left"></i> Retour
        </a>
    </div>
</div>
{% endblock %}
