{% extends 'base.html.twig' %}

{% block title %}Achat index{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/styletable.css') }}">
{% endblock %}

{% block body %}
    <div id="containertop">
        <div id="button-container">
            <a href="{{ path('app_achat_new') }}"><button id="createnew">Create new<ion-icon id="icon_add" name="add-circle-outline"></ion-icon></button></a>
        </div>
    </div>
    <div id="tablee">
        <table id="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Utilisateur_id</th>
                    <th>Date</th>
                    <th>Total</th>
                    <th>actions</th>
                </tr>
            </thead>
            <tbody id="resultatTableBody">
            {% for achat in achats %}
                <tr>
                    <td>{{ achat.id }}</td>
                    <td>{{ achat.utilisateur ? achat.utilisateur.id ~ ' - ' ~ achat.utilisateur.firstname ~ ' ' ~ achat.utilisateur.lastname : '' }}</td>
                    <td>{{ achat.date ? achat.date|date('Y-m-d') : '' }}</td>
                    <td>{{ achat.total }}</td>
                    <td>
                        <div id="flex">
                            <a href="{{ path('app_achat_show', {'id': achat.id}) }}"><button id="show-button" class="quiz-button">Afficher</button></a>
                            <a href="{{ path('app_achat_edit', {'id': achat.id}) }}"><button id="edit-button" class="quiz-button">Modifier</button></a>
                            <form method="post" action="{{ path('app_achat_delete', {'id': achat.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
                                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ achat.id) }}">
                                <button id="delete-button" class="quiz-button">Supprimer</button>
                            </form>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
