{% extends 'base.html.twig' %}

{% block title %}Transactions de l'Agriculteur{% endblock %}

{% block body %}
    <h1>Transactions de l'Agriculteur: {{ agriculteur.firstName }} {{ agriculteur.lastName }}</h1>

    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Date</th>
                <th>Montant</th>
                <th>Client</th>
                <th>Type</th>
            </tr>
        </thead>
        <tbody>
            {% for transaction in transactions %}
                <tr>
                    <td>{{ transaction.id }}</td>
                    <td>{{ transaction.dateTransaction|date('Y-m-d H:i') }}</td>
                    <td>{{ transaction.montant }}</td>
                    <td>{{ transaction.client.firstName }} {{ transaction.client.lastName }}</td>
                    <td>{{ transaction.type }}</td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="5">Aucune transaction trouvée.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
